*.swp
*.log
*.bz2
*.gz
*.o

log
.deps
Makefile
Makefile.in

/COPYING
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing

/include/config.h
/include/config.h.in
/include/stamp-h1

/source/rus-checkers
